*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:IRANSansX, Vazirmatn, sans-serif;
}

body{

background:#f3f6f4;

direction:rtl;

overflow:hidden;

}

a{

text-decoration:none;

color:inherit;

}

.layout{

display:flex;

flex-direction:row-reverse;

height:100vh;

width:100%;

background:#f3f6f4;

}

.mainContent{

flex:1;

overflow-y:auto;

padding:30px;

background:#f3f6f4;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#0f6a47;

border-radius:20px;

}

::-webkit-scrollbar-track{

background:#ececec;

}