.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

margin-bottom:35px;

}

.dashboardCard{

background:white;

border-radius:22px;

padding:25px;

display:flex;

align-items:center;

gap:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

cursor:pointer;

}

.dashboardCard:hover{

transform:translateY(-6px);

}

.iconBox{

width:70px;

height:70px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

}

.cardContent{

display:flex;

flex-direction:column;

gap:8px;

}

.cardContent h4{

color:#666;

font-size:15px;

}

.cardContent h2{

font-size:30px;

color:#222;

}

.cardContent span{

color:#27AE60;

font-weight:bold;

}