.sidebar{

width:280px;

height:100vh;

background:#0F6A47;

display:flex;

flex-direction:column;

align-items:center;

padding:30px 20px;

color:white;

position:sticky;

top:0;

right:0;

box-shadow:-5px 0 25px rgba(0,0,0,.15);

z-index:999;

}

.logo{

width:110px;

height:110px;

object-fit:contain;

margin-bottom:15px;

}

.sidebar h2{

font-size:26px;

margin-bottom:30px;

font-weight:700;

letter-spacing:1px;

}

.profileBox{

display:flex;

flex-direction:column;

align-items:center;

margin-bottom:35px;

}

.profileImg{

width:90px;

height:90px;

border-radius:50%;

border:4px solid rgba(255,255,255,.3);

object-fit:cover;

margin-bottom:12px;

}

.profileBox h3{

font-size:18px;

margin-bottom:4px;

}

.profileBox p{

font-size:13px;

opacity:.8;

}

.sidebar nav{

width:100%;

display:flex;

flex-direction:column;

gap:12px;

margin-top:15px;

}

.menuItem{

display:flex;

align-items:center;

gap:14px;

padding:15px 18px;

border-radius:14px;

font-size:15px;

transition:.25s;

color:white;

}

.menuItem svg{

font-size:20px;

}

.menuItem:hover{

background:rgba(255,255,255,.12);

transform:translateX(-4px);

}

.menuItem.active{

background:white;

color:#0F6A47;

font-weight:bold;

box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.menuItem.active svg{

color:#0F6A47;

}

@media(max-width:900px){

.sidebar{

width:90px;

padding:20px 10px;

}

.sidebar h2{

display:none;

}

.profileBox{

display:none;

}

.menuItem span{

display:none;

}

.menuItem{

justify-content:center;

}

.logo{

width:60px;

height:60px;

}

}